<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
        <title>Upload Form</title>
    </head>

      <body>
        <h1>Upload</h1>
         <form action="/api/upload" method="post" enctype="multipart/form-data">
             Username <input type="text" name="username"><br>
             Password <input type="password" name="password"><br>
             Photo to upload <input type="file" name="file"><br>

        <input type="submit" value="Upload">
        <input type="reset">
        </form>

    </body>
</html>