{% extends "base.html" %}
{% block content %}
{% if current_user.is_anonymous %}
    <div class="home_text_box">
        <div class="container">
          <div class="card border-0 shadow my-5">
            <div class="card-body p-5">
              <h1 class="font-weight-light">Welcome {{ current_user.username }}!</h1>
                    <p class="lead">The Registered User Will Be Able to Upload Pictures To User Our Face Detection Tool</p>
            </div>
          </div>
        </div>
    </div>
{% else %}
<p class="sign">Images with no faces detected</p>
<div id="scrolling_horizontal">
        <a><img src="https://www.uni-regensburg.de/Fakultaeten/phil_Fak_II/Psychologie/Psy_II/beautycheck/english/prototypen/w_sexy_gr.jpg" class="img-thumbnail"></a>
        <a><img src="https://www.uni-regensburg.de/Fakultaeten/phil_Fak_II/Psychologie/Psy_II/beautycheck/english/prototypen/w_sexy_gr.jpg" class="img-thumbnail"></a>
        <a><img src="https://www.uni-regensburg.de/Fakultaeten/phil_Fak_II/Psychologie/Psy_II/beautycheck/english/prototypen/w_sexy_gr.jpg" class="img-thumbnail"></a>
        <a><img src="https://www.uni-regensburg.de/Fakultaeten/phil_Fak_II/Psychologie/Psy_II/beautycheck/english/prototypen/w_sexy_gr.jpg" class="img-thumbnail"></a>
        <a><img src="https://www.uni-regensburg.de/Fakultaeten/phil_Fak_II/Psychologie/Psy_II/beautycheck/english/prototypen/w_sexy_gr.jpg" class="img-thumbnail"></a>
        <a><img src="https://www.uni-regensburg.de/Fakultaeten/phil_Fak_II/Psychologie/Psy_II/beautycheck/english/prototypen/w_sexy_gr.jpg" class="img-thumbnail"></a>
        <a><img src="https://www.uni-regensburg.de/Fakultaeten/phil_Fak_II/Psychologie/Psy_II/beautycheck/english/prototypen/w_sexy_gr.jpg" class="img-thumbnail"></a>
        <a><img src="https://www.uni-regensburg.de/Fakultaeten/phil_Fak_II/Psychologie/Psy_II/beautycheck/english/prototypen/w_sexy_gr.jpg" class="img-thumbnail"></a>
        <a><img src="https://www.uni-regensburg.de/Fakultaeten/phil_Fak_II/Psychologie/Psy_II/beautycheck/english/prototypen/w_sexy_gr.jpg" class="img-thumbnail"></a>
    </div>
    <p class="sign">Images with all faces masked</p>
    <div id="scrolling_horizontal">
        <a><img src="https://www.uni-regensburg.de/medien/rechte-spalten/120520_campusbilder_07.jpeg" class="img-thumbnail"></a>
        <a><img src="https://www.uni-regensburg.de/medien/rechte-spalten/120520_campusbilder_07.jpeg" class="img-thumbnail"></a>
        <a><img src="https://www.uni-regensburg.de/Fakultaeten/phil_Fak_II/Psychologie/Psy_II/beautycheck/english/prototypen/w_sexy_gr.jpg" class="img-thumbnail"></a>
        <a><img src="https://www.uni-regensburg.de/Fakultaeten/phil_Fak_II/Psychologie/Psy_II/beautycheck/english/prototypen/w_sexy_gr.jpg" class="img-thumbnail"></a>
        <a><img src="https://www.uni-regensburg.de/Fakultaeten/phil_Fak_II/Psychologie/Psy_II/beautycheck/english/prototypen/w_sexy_gr.jpg" class="img-thumbnail"></a>
        <a><img src="https://www.uni-regensburg.de/Fakultaeten/phil_Fak_II/Psychologie/Psy_II/beautycheck/english/prototypen/w_sexy_gr.jpg" class="img-thumbnail"></a>
        <a><img src="https://www.uni-regensburg.de/Fakultaeten/phil_Fak_II/Psychologie/Psy_II/beautycheck/english/prototypen/w_sexy_gr.jpg" class="img-thumbnail"></a>
        <a><img src="https://www.uni-regensburg.de/Fakultaeten/phil_Fak_II/Psychologie/Psy_II/beautycheck/english/prototypen/w_sexy_gr.jpg" class="img-thumbnail"></a>
        <a><img src="https://www.uni-regensburg.de/Fakultaeten/phil_Fak_II/Psychologie/Psy_II/beautycheck/english/prototypen/w_sexy_gr.jpg" class="img-thumbnail"></a>
    </div>
    <p class="sign">Images with no face masked</p>
    <div id="scrolling_horizontal">
        <a><img src="https://www.uni-regensburg.de/Fakultaeten/phil_Fak_II/Psychologie/Psy_II/beautycheck/english/prototypen/w_sexy_gr.jpg" class="img-thumbnail"></a>
        <a><img src="https://www.uni-regensburg.de/Fakultaeten/phil_Fak_II/Psychologie/Psy_II/beautycheck/english/prototypen/w_sexy_gr.jpg" class="img-thumbnail"></a>
        <a><img src="https://www.uni-regensburg.de/Fakultaeten/phil_Fak_II/Psychologie/Psy_II/beautycheck/english/prototypen/w_sexy_gr.jpg" class="img-thumbnail"></a>
        <a><img src="https://www.uni-regensburg.de/Fakultaeten/phil_Fak_II/Psychologie/Psy_II/beautycheck/english/prototypen/w_sexy_gr.jpg" class="img-thumbnail"></a>
        <a><img src="https://www.uni-regensburg.de/Fakultaeten/phil_Fak_II/Psychologie/Psy_II/beautycheck/english/prototypen/w_sexy_gr.jpg" class="img-thumbnail"></a>
        <a><img src="https://www.uni-regensburg.de/Fakultaeten/phil_Fak_II/Psychologie/Psy_II/beautycheck/english/prototypen/w_sexy_gr.jpg" class="img-thumbnail"></a>
        <a><img src="https://www.uni-regensburg.de/Fakultaeten/phil_Fak_II/Psychologie/Psy_II/beautycheck/english/prototypen/w_sexy_gr.jpg" class="img-thumbnail"></a>
        <a><img src="https://www.uni-regensburg.de/Fakultaeten/phil_Fak_II/Psychologie/Psy_II/beautycheck/english/prototypen/w_sexy_gr.jpg" class="img-thumbnail"></a>
        <a><img src="https://www.uni-regensburg.de/Fakultaeten/phil_Fak_II/Psychologie/Psy_II/beautycheck/english/prototypen/w_sexy_gr.jpg" class="img-thumbnail"></a>
    </div>
    <p class="sign">Images with some faces masked</p>
    <div id="scrolling_horizontal">
        <a><img src="https://www.uni-regensburg.de/Fakultaeten/phil_Fak_II/Psychologie/Psy_II/beautycheck/english/prototypen/w_sexy_gr.jpg" class="img-thumbnail"></a>
        <a><img src="https://www.uni-regensburg.de/Fakultaeten/phil_Fak_II/Psychologie/Psy_II/beautycheck/english/prototypen/w_sexy_gr.jpg" class="img-thumbnail"></a>
        <a><img src="https://www.uni-regensburg.de/Fakultaeten/phil_Fak_II/Psychologie/Psy_II/beautycheck/english/prototypen/w_sexy_gr.jpg" class="img-thumbnail"></a>
        <a><img src="https://www.uni-regensburg.de/Fakultaeten/phil_Fak_II/Psychologie/Psy_II/beautycheck/english/prototypen/w_sexy_gr.jpg" class="img-thumbnail"></a>
        <a><img src="https://www.uni-regensburg.de/Fakultaeten/phil_Fak_II/Psychologie/Psy_II/beautycheck/english/prototypen/w_sexy_gr.jpg" class="img-thumbnail"></a>
        <a><img src="https://www.uni-regensburg.de/Fakultaeten/phil_Fak_II/Psychologie/Psy_II/beautycheck/english/prototypen/w_sexy_gr.jpg" class="img-thumbnail"></a>
        <a><img src="https://www.uni-regensburg.de/Fakultaeten/phil_Fak_II/Psychologie/Psy_II/beautycheck/english/prototypen/w_sexy_gr.jpg" class="img-thumbnail"></a>
        <a><img src="https://www.uni-regensburg.de/Fakultaeten/phil_Fak_II/Psychologie/Psy_II/beautycheck/english/prototypen/w_sexy_gr.jpg" class="img-thumbnail"></a>
        <a><img src="https://www.uni-regensburg.de/Fakultaeten/phil_Fak_II/Psychologie/Psy_II/beautycheck/english/prototypen/w_sexy_gr.jpg" class="img-thumbnail"></a>
    </div>
 <style>
    #scrolling_horizontal{
    overflow-x: scroll;
    overflow-y: hidden;
    white-space: nowrap;
    }
    #scrolling_horizontal a {
        display: inline-block;
        vertical-align: middle;
    }
 </style>
{% endif %}
{% endblock %}
