{% extends "base.html" %}
{% block content %}
 <div class="main">
     <p class="sign" align="center">Sign in</p>
        <form class="form1" action="" method="post" novalidate>
            {{ form.hidden_tag() }}
            <p>
                {{ form.username(class_="un",placeholder='Username')}}<br>
                {% for error in form.username.errors %}
                <span style="color: indianred; text-align:center;">[{{ error }}]</span>
                {% endfor %}
            </p>
            <p>
                {{ form.password(class_="pass",placeholder='Password') }}<br>
                {% for error in form.password.errors %}
                <span style="color: indianred;text-align:center;">[{{ error }}]</span>
                {% endfor %}
            </p>
            <p>{{ form.submit(class_="submit",placeholder='Submit') }}</p>
            <p class="forgot" align="center"><a href="{{ url_for('forget_password') }}">Forgot Password?</a></p>
        </form>
 </div>
{% endblock %}


