{% extends "base.html" %}
{% block content %}
 <div class="main">
     <p class="sign" align="center">Register</p>
        <form class="form1" action="" method="post" novalidate>
            {{ form.hidden_tag() }}
            <p>
                {{ form.email(class_="un",placeholder='email', size=32)}}<br>
                {% for error in form.email.errors %}
                <span style="color: indianred; text-align:center;">[{{ error }}]</span>
                {% endfor %}
            </p>
            <p>
                {{ form.new_password(class_="pass",placeholder='New Password', size=32) }}<br>
                {% for error in form.new_password.errors %}
                <span style="color: indianred;text-align:center;">[{{ error }}]</span>
                {% endfor %}
            </p>
             <p>
                {{ form.new_password2(class_="pass",placeholder='Repeat Password', size=32) }}<br>
                {% for error in form.new_password2.errors %}
                <span style="color: indianred;text-align:center;">[{{ error }}]</span>
                {% endfor %}
            </p>
            <p>{{ form.submit(class_="submit",placeholder='Submit') }}</p>
        </form>
 </div>
{% endblock %}


