<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
     {% if title %}
        <title>{{ title }} - A1 Base Page</title>
        {% else %}
        <title>A1 Base Page!</title>
     {% endif %}
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/chartist.js/latest/chartist.min.css">
    <script src="https://cdn.jsdelivr.net/chartist.js/latest/chartist.min.js"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/base.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/alert.css') }}">
    <style>
        div.home_text_box{
        background-color:whitesmoke;
        height: auto;
        width: auto;
        text-align: center;
        margin: 7em auto;
        border-radius: 1.5em;
    }
    div.custom-file {
      overflow: hidden;
      text-align: center;
    }

    div.custom-file-input {
      white-space: nowrap;
    }
    </style>
</head>
<body>
        <nav class="navbar navbar-inverse">
          <div class="container-fluid">
            <div class="navbar-header">
              <a class="navbar-brand" href="#">ECE1779 A2 Manager</a>
            </div>
            <ul class="nav navbar-nav">
                <li class="active"><a href="{{ url_for('main') }}">Home</a></li>
                <li><a href="{{ url_for('get_workers_list') }}">Workers List</a></li>
                <li><a href="{{ url_for('load_balancer') }}">load_balancer</a></li>
                <li><a href="{{ url_for('configure_worker_pool') }}">Change Worker Pool</a></li>
                <li><a href="{{ url_for('configure_auto_scaler') }}">Configure Auto Scaler</a></li>
                <li class = "nav-item">
                    <a class="nav-link" href="{{ url_for('stop') }}" onclick="return confirm('This will terminate all worker instances and stop the manager-app. Are you sure?')">Stop All Instances</a>
                </li>
                <li class = "nav-item">
                    <a class="nav-link" href="{{ url_for('delete_data') }}" onclick="return confirm('This will delete all data stored. Are you sure?')">Delete All Data</a>
                </li>
            </ul>
          </div>
        </nav>
        <hr>
        <div class = "container">
            {% with messages = get_flashed_messages(with_categories=true) %}
                {% if messages %}
                <ul>
                    {% for category, message in messages %}
                        <div class="alert alert-{{category}}">
                            {{ message }}
                        </div>
                    {% endfor %}
                </ul>
                {% endif %}
            {% endwith %}
        </div>

        {% block content %}{% endblock %}
</body>
</html>
