{% extends "base.html" %}
{% block content %}
    <div class="home_text_box">
        <div class="container">
          <div class="card border-0 shadow my-5">
            <div class="card-body p-5">
              <h1 class="font-weight-light">Welcome Manager!</h1>
                    <p class="lead">All Worker Instances are stopped and Manager App is also stopped!</p>
                    <p class="lead">Please Manually Restart Manager APP EC2 from AWS!</p>
            </div>
          </div>
        </div>
    </div>
{% endblock %}