{% extends "base.html" %}
{% block content %}
<head>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/profile.css') }}">
        <title>Profile</title>
        <style>
            img.resize {
                width : 200px;
                height: 200px;
                border-radius: 50%;
                position: relative;
                margin-right: 5px;
                margin-left: 5px;
            }

        </style>
</head>
<header>

	<div class="container">

		<div class="profile">

			<div class="profile-image">

				<img class="resize" src={{ user.profile_img }} alt="">

			</div>

			<div class="profile-user-settings">

				<h1 class="profile-user-name">{{ user.username }}</h1>

                {% if current_user.username == user.username %}
				    <button onclick="window.location.href='{{ url_for('upload_profile_pic') }}';" class="btn profile-edit-btn">Edit Profile</button>
                    <button onclick="window.location.href='{{ url_for('my_account') }}';" class="btn profile-settings-btn" aria-label="profile settings"><i class="fas fa-cog" aria-hidden="true"></i></button>
                {% endif %}

			</div>

			<div class="profile-stats">

				<ul>
                    <form id="view_followers" action="/followers" enctype="multipart/form-data" method='POST'>
                            <input name="user_to_view_followers" type="hidden" value="{{ user.username }}">
                    </form>
                    <form id="view_followings" action="/followings" enctype="multipart/form-data" method='POST'>
                            <input name="user_to_view_followings" type="hidden" value="{{ user.username }}">
                    </form>
					<li><span class="profile-stat-count">{{ user['userposts']|length }}</span> posts</li>
                    <li><span class="profile-stat-count"><button type="button" onclick="submit_view_followers()" class="button button_custom"  id="followers"> {{ user['followers']|length }} Followers </button></span></li>
					<li><span class="profile-stat-count"><button type="button" onclick="submit_view_followings()" class="button button_custom"  id="followings"> {{ user['following']|length }} Followings </button></span></li>
				</ul>

			</div>

			<div class="profile-bio">

				<p><span class="profile-real-name"></span>{{ user['bio'] }}</p>

			</div>

		</div>
		<!-- End of profile section -->

	</div>
	<!-- End of container -->

</header>

<main>

	<div class="container">

		<div class="gallery">
            {% for post in posts  %}

			<div class="gallery-item" tabindex="0">

				<img src="{{post['img']}}" class="gallery-image" alt=""/>

				<div class="gallery-item-info">

					<ul>
						<li class="gallery-item-likes"><span class="visually-hidden">Likes:</span><i class="fas fa-heart" aria-hidden="true"></i> {{ post['likes'] }}</li>
						<li class="gallery-item-comments"><span class="visually-hidden">Comments:</span><i class="fas fa-comment" aria-hidden="true" onclick="view_comments('{{ post['postid'] }}');"></i> {{ post['commentOwner']|length }}</li>
					</ul>

				</div>

			</div>
            {% endfor %}
		</div>
		<!-- End of gallery -->
	<!-- End of container -->
    </div>
 {% for post in posts  %}
       <form id="view_comments{{ post['postid'] }}" action="/view_comments" enctype="multipart/form-data" method='POST'>
                    <input name="post_id" type="hidden" value="{{ post['postid'] }}">
       </form>
    {% endfor %}
<script>


        function submit_view_followers(){
        $("#view_followers").submit();

        };
         function submit_view_followings(){
        $("#view_followings").submit();
        };

        function view_comments(postid){
              var post_id = "view_comments".concat(postid)
             document.getElementById(post_id).submit();
         };


</script>
</main>
{% endblock %}