{% extends "base.html" %}
{% block content %}
 <div class="main">
     <p class="sign" align="center">Profile Picture Upload</p>
        <form class="form1" enctype="multipart/form-data" action="" method="post" novalidate>
                <input class="pass" accept=".png, .jpg, .jpeg" type="file" name="upload_profile" onchange="readURL(this);"><br/>
                <img id="blah" src=""/>
                <input type="submit" value="Upload"><br/>
            
        </form>
        <p align="center">
            <span style="color: indianred;text-align:center;">{{ error if error != None }}</span>
        </p>
        <style>
             img{
              max-width:200px;
                 display: block;
              margin-left: auto;
              margin-right: auto;
            }

            input[type=submit] {
                cursor: pointer;
                width: 50%;
                box-sizing: border-box;
                border-radius: 5em;
                color: #fff;
                background: linear-gradient(to right, #9C27B0, #E040FB);
                border: 0;
                padding-left: 40px;
                padding-right: 40px;
                padding-bottom: 10px;
                padding-top: 10px;
                font-family: 'Ubuntu', sans-serif;
                margin-left: 25%;
                margin-bottom: 27px;
                font-size: 13px;
                box-shadow: 0 0 20px 1px rgba(0, 0, 0, 0.04);
            }

        </style>
 </div>
    <script>
        function readURL(input) {
            if (input.files && input.files[0]) {
                var reader = new FileReader();

                reader.onload = function (e) {
                    $('#blah')
                        .attr('src', e.target.result);
                };

                reader.readAsDataURL(input.files[0]);
            }
        }

    </script>
{% endblock %}