{% extends "base.html" %}
{% block content %}
    <head>
         <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
         <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
        <title>View Comments</title>

</head>
<body>
    <section class="container_index">
            <div class="card_index">
                <div class="image">
                    <img style='height: auto; width: 100%; object-fit: contain' src="{{ post['img'] }}"/>
                </div>
                <div class = "card-footer">
                    <div class="description">
                        <p>
                            <span>{{ post['postcontent'] }}</span>
                        </p>
                    </div>
                    <div class="comments" id="comments{{ post['postid'] }}">
                        {% for comment in post['commentContent']  %}
                        <p>
                            <span class="username">{{ post['commentOwner'][loop.index-1 ] }}</span>:
                            <span class="username">{{ comment }}</span>
                        </p>
                         {% endfor %}
                    </div>
                </div>
            </div>
    </section>
</body>
{% endblock %}