{% extends "base.html" %}
{% block content %}
<body>
    <section class="container_index">
     {%  for user in users %}
        {% if user in posts %}
            {% for post in posts[user]  %}
                <form id="view_other_profile" action="/others_profile" enctype="multipart/form-data" method='POST'>
                            <input name="user_to_view" type="hidden" value="{{ user }}">
                </form>
            <div class="card_index">
                <div class="image">
                    <img style='height: auto; width: 100%; object-fit: contain' src="{{ post['img'] }}"/>
                </div>
                <div class = "card-footer">
                    <div class="description">
                        <p>
                            <span>This is wonderful world to live in</span>
                        </p>
                    </div>
                    <div class="comments" id="comments{{ post['postid'] }}">
                        {% for comment in post['commentContent']  %}
                        <p>
                            <span class="username">{{ post['commentOwner'][loop.index-1 ] }}</span>:
                            <span class="username">{{ comment }}</span>
                        </p>
                         {% endfor %}
                    </div>
                    <div class="view-btn-container">
                        <button class="btn" id="btn{{ post['postid'] }}" onclick = "read_more('comments{{ post['postid']}}' , 'btn{{ post['postid'] }}')">Read Less</button>
                    </div>
                </div>
            </div>
            {% endfor %}
         {% endif %}
    {% endfor %}
    </section>

</body>
{% endblock %}